version: 2.1

jobs:
  install-on-linux:
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: Install Lando on Linux
          command: ./setup-lando.sh --no-setup && lando version --all
  setup-on-linux:
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: Setup Lando on Linux
          command: ./setup-lando.sh && lando version --all

  install-on-macos:
    macos:
      xcode: "14.2.0"
    steps:
      - checkout
      - run:
          name: Install Lando on macOS
          command: ./setup-lando.sh --no-setup && lando version --all
  setup-on-macos:
    macos:
      xcode: "14.2.0"
    steps:
      - checkout
      - run:
          name: Run Bash Script on macOS
          command: ./setup-lando.sh --no-setup && lando setup -y --skip-networking && lando version --all

  # setup-on-windows:
  #   machine:
  #     image: windows-server-2022  # Windows machine image
  #   steps:
  #     - checkout
  #     - run:
  #         name: Run Bash Script on Windows
  #         shell: bash
  #         command: |
  #           chmod +x ./script.sh
  #           ./script.sh

workflows:
  setup-lando:
    jobs:
      - install-on-linux
      - install-on-macos
      - setup-on-linux
      - setup-on-macos
