name: Actions OS Tests

on:
  pull_request:

jobs:
  setup-lando-actions-os-test:
    runs-on: ${{ matrix.os }}
    env:
      LANDO_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14
          - macos-15
          - ubuntu-24.04
          - windows-2022
        node-version:
          - '20'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies and prepare
        run: |
          npm clean-install --prefer-offline --frozen-lockfile
          npm run prepare
      - name: Setup Lando version
        uses: ./
        with:
          auto-setup: lando setup --yes --skip-networking
