name: POSIX Script Version Tests

on:
  pull_request:

jobs:
  setup-lando-posix-version-input-test:
    runs-on: ${{ matrix.os }}
    env:
      LANDO_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: '3'
            check: 'v3.'
            os: ubuntu-24.04
          - version: 'v3.21.0-beta.10'
            check: 'v3.21.0-beta.10'
            os: macos-14
          - version: '3-stable'
            check: 'v3.'
            os: ubuntu-24.04
          - version: '3-edge'
            check: 'v3.'
            os: ubuntu-24.04
          - version: '3-latest'
            check: 'v3.'
            os: ubuntu-24.04
          - version: '3-dev'
            check: 'v3\..*\..*-.*-.*'
            os: ubuntu-24.04
          - version: 'stable'
            check: 'v3.'
            os: macos-14
          - version: 'edge'
            check: 'v3.'
            os: macos-14
          - version: 'latest'
            check: 'v3.'
            os: macos-14
          - version: 'dev'
            check: 'v3.'
            os: ubuntu-24.04
          - version: 'bin/lando'
            check: 'v3.100.999-babylon.5'
            os: macos-14

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Lando version ${{ matrix.version }}
        shell: bash
        run: ./setup-lando.sh --version=${{ matrix.version }} --no-setup
      - name: Test
        shell: bash
        run: eval "$($HOME/.lando/bin/lando shellenv)" && lando version | grep -E '${{ matrix.check }}'

  setup-lando-posix-version-env-test:
    runs-on: ${{ matrix.os }}
    env:
      LANDO_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: '3'
            check: 'v3.'
            os: ubuntu-24.04
          - version: 'v3.21.0-beta.10'
            check: 'v3.21.0-beta.10'
            os: macos-14
          - version: '3-stable'
            check: 'v3.'
            os: ubuntu-24.04
          - version: '3-edge'
            check: 'v3.'
            os: ubuntu-24.04
          - version: '3-latest'
            check: 'v3.'
            os: ubuntu-24.04
          - version: '3-dev'
            check: 'v3\..*\..*-.*-.*'
            os: ubuntu-24.04
          - version: 'stable'
            check: 'v3.'
            os: macos-14
          - version: 'edge'
            check: 'v3.'
            os: macos-14
          - version: 'latest'
            check: 'v3.'
            os: macos-14
          - version: 'dev'
            check: 'v3.'
            os: ubuntu-24.04
          - version: 'bin/lando'
            check: 'v3.100.999-babylon.5'
            os: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Lando version ${{ matrix.version }}
        shell: bash
        run: LANDO_VERSION=${{ matrix.version }} ./setup-lando.sh --no-setup
      - name: Test
        shell: bash
        run: lando version | grep -E '${{ matrix.check }}'
