name: POSIX Script OS Tests

on:
  pull_request:

jobs:
  setup-lando-posix-os-test:
    runs-on: ${{ matrix.os }}
    env:
      LANDO_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - macos-14
          - ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run setup-lando.sh on ${{ matrix.os }}
        if: runner.os == 'Linux'
        shell: bash
        run: ./setup-lando.sh --version 3-edge && lando setup -y --debug
      - name: Run setup-lando.sh on ${{ matrix.os }}
        if: runner.os == 'macOS'
        shell: bash
        run: ./setup-lando.sh --version 3-edge && lando setup -y --debug --skip-networking
      - name: Test
        shell: bash
        run: lando version --all
