name: POSIX Script OS Tests

on:
  pull_request:

jobs:
  setup-lando-posix-os-test:
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - macos-14
          - ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Lando version ${{ matrix.os }}
        shell: bash
        run: |
          ./setup-lando.sh --debug
          lando version --all

